{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    
    <div class="container">
        <h1 style="margin-top:20px">Employee list</h1>
        <br><br>
        <table class="table">
  <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Phone number</th>
    </tr>
  </thead>
  <tbody>
    {% for i in employees %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'employee_detail' i.id %}">{{i.first_name}} {{i.last_name}}</td>
      <td>{{i.designation}}</td>
      <td>{{i.phone_number}}</td>
    </tr>
    {% endfor %} 

  </tbody>
</table>
{% comment %} <img src="{% static 'images/deep.jpeg' %}">
<img src="{% static 'images/keya.jpeg' %}">
<img src="{% static 'images/images.png' %}"> {% endcomment %}

{% comment %} {% for i in employees %}

  <h3>{{ i }}</h3>

{% endfor %} {% endcomment %}

    </div>
    {% comment %} <script src="index.js"></script> {% endcomment %}
  </body>
</html>